@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}
 /* global style sheet-use for all pages(header,footer,etc) */
 /* Do not define custom styles in individual page files-unmaintainable */
 
